* {
    margin: 0;
    padding: 0;
}
.clearfix {
    content: "";
    clear: both;
    display: block;
}
.container {
    max-width: 1280px;
    margin-right: 0;
    margin-left: 0;
}
.main {
    margin: 0 auto;
    width: 1280px;
    min-height: 100%;
    background-color: white;
    font-family: 'Arial MT;
}
.main:after {
    text-align: center;
    content: "Copyright 2014 Product name PSD HTML CSS";
}
header {
    height: 323px;
    background: #445162;
    padding: 50px;
}
header h2 {
    text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.3);
    color: #ffffff;
    font-family: "Arial MT";
    font-size: 60px;
    font-weight: 400;
}
header img {
    width: 469px;
    height: 214px;
    float: right;
}
header ul {
    padding-left: 35px;
}
header li {
    text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.3);
    color: #ffffff;
    font-family: "Arial MT";
    font-size: 20px;
    font-weight: 400;
    line-height: 36px;
    list-style-image: url(../img/check_icon.png);
}
.container {
    padding: 50px;
}
.about {
    height: 345px;
}
.about video {
    float: right;
    width: 430px;
}
h3 {
    color: #445161;
    font-family: "Arial MT";
    font-size: 30px;
    font-weight: 400;
    line-height: 36px;
}
h4 {
    color: #445161;
    font-family: "Arial MT";
    font-size: 24px;
    font-weight: 400;
    line-height: 30px;
}
.about p{
    width: 650px;
}
.pluses {
    background: #f5f5f5;
}
.pluses article {
    margin-top: 29px;
}
article img {
    float: left;
    padding-top: 7px;
    padding-right: 10px;
    padding-bottom: 10%;
}
article p {
    font-size: 16px;
}
.title_section {
    text-align: center;
}
.scrinshots img {
    width: 200px;
    height: 150px;
}
.reviews {
    background: #f5f5f5;

}
.review {
    font-family: "Arial - Italic MT";
    font-style: italic;
    background: #ebebeb;
    margin-left: 90px;
    margin-top: 24px;
    padding: 10px 15px;
}
.name {
    color: #989898;
    font-style: normal;
}
.strelka {
    background: #ebebeb;
    position: absolute;
    left: 90px;
    width: 30px;
    height: 30px;
    transform: rotate(-45deg);
    margin-top: 25px;
}
.reviews img {
    width: 75px;
    height: 75px;
    border-radius: 50%;
}
.userpic {
    width: 75px;
    height: 75px;
    border-radius: 50%;
    float: left;
}
.buy_it_now {
    padding: 50px 145px;
    margin-bottom: 60px;
}
.buy_it_now .row {
    align-items: flex-end;
}
.buy_it_now .col-sm {
    background: #445162;
    color: #ffffff;
    padding: 0;
    margin: 10px 22px;
    border: 2px solid #445162;
    border-radius: 10px;
}
.buy_it_now .col-sm h3{
    color: white;
    text-align: center;
}
.buy_it_now:after {
    content: " ";
    height: 100px;
}
.bg-price {
    text-align: center;
    background: white;
    color: #445162;
    font-size: 40px;
    font-weight: 400;
    line-height: 30px;
    height: 71px;
    padding: 15px;
    outline: 2px solid #445162;
}
.buy_it_now ol {
        padding: 19px 20px;
}

.buy {
    box-shadow: 0 2px 5px 1px rgba(33, 33, 33, 0.35);
    border-radius: 13px;
    background-color: #ffffff;
    color: #445161;
    font-size: 18px;
    font-weight: 700;
    text-transform: uppercase;
    width: 260px;
    height: 40px;
    text-align: center;
    line-height: 40px;
    text-decoration: none;
    letter-spacing: 3.6px;
    margin: 15px;
}
footer {
    background: #445162;
    padding: 50px 240px;
    color: white;
}
footer textarea{
    width:500px;
    height: 170px;
    border-radius: 13px;
    padding-left: 15px;
    padding-top: 10px;
    margin-bottom: 21px;
}
footer input {
    width: 500px;
    height: 40px;
    margin-bottom: 24px;
    background-color: #ffffff;
    border-radius: 13px;
    padding-left: 15px;
}
.send {
    width: 140px;
    height: 40px;
    padding: 0px;
    color: #445162;
    font-family: "Arial - Bold MT";
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-transform: uppercase;
    margin: 0px 30%;
}
address a {
    text-decoration: none;
    color: grey;
    display: flex;
    float: left;
    background: white;
    justify-content: center;
    align-items: center;
    padding: 20px;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    font-size: 20px;
    margin: 5px;
}
.search {
    float: left;
    position: absolute;

}